/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* DEBUG */
.debug ,
.debug * {
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}



/* ⚙️ VARIABILI ⚙️ */
:root {
    --section-spacing: 1rem;
}



/* UTILS */
section {
    padding: calc(2 * var(--section-spacing)) 0;
}



/* HEADER */
#header-logo img {
    max-height: 3rem;
}



/* MAIN */
#books-catalog-table,
#books-catalog-table .btn-sm i {
    font-size: .75rem;
}
/* @ TODO: Trovare dimensioni giuste per modificare padding btn-sm o trovare soluzione alternativa */








/* TABLET */
@media screen and (min-width: 768px) {
    #books-catalog-table,
    #books-catalog-table .btn-sm i {
        font-size: .85rem;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    #books-catalog-table,
    #books-catalog-table .btn-sm i {
        font-size: .75rem;
    }
}